
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-sans-serif-condensed: "Encode Sans Condensed", sans-serif;
$font-family-logo: "Varela Round", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$background-color: #D9DFE5; 
$brand-red: #FC4823; 

$brand-blue: #0079d3;
$brand-blue-highlight: #3293db;

$text-black: #333; 
$bg-item: #fff; 

$search-text-dark: #878a8c; 
$bg-search: #f6f7f8; 
$border-search: #edeff1;