//-----------------------------------------------
// @author Alex Madsen
// @date October 30, 2018
//----------------------------------------------- 

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-sans-serif-condensed: "Encode Sans Condensed", sans-serif;
$font-family-logo: "Varela Round", sans-serif;
$font-family-button: "IBM Plex Sans", sans-serif; 
$span-font: "Noto Sans", sans-serif; 
$h1-font: "Montserrat", sans-serif; 
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$background-color: rgb(217, 223, 229); 
$brand-red: rgb(252, 72, 35); 
$brand-red-highlight: rgb(255, 96, 64); 

$brand-blue: rgb(0, 121, 211);
$brand-blue-faded: rgba(0, 121, 211, 0.2);
$brand-blue-highlight: rgb(50, 147, 219);

$text-black: #333; 
$bg-item: #fff; 

$search-text-dark: rgb(135, 138, 140); 
$bg-search: rgb(246, 247, 248);
$border-search: rgb(237, 239, 241);
$search-icon-black: rgb(26, 26, 27); 
$option-text: rgb(124, 124, 124); 
$bg-vote: #f8f9fa; 

$post-border: rgb(204,204,204); 
$post-text-black: rgb(28,28,28); 
$post-header-gray: rgb(120,124,126);
$post-title-black: rgb(34,34,34); 
$post-title-black2: rgb(26,26,27); 