
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round|Encode+Sans+Condensed|IBM+Plex+Sans:700|Montserrat:700,800,900|Noto+Sans');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Baseline
body { 
  background-color: $background-color; 
  color: $text-black;
  font-family: $font-family-sans-serif;  
}

// Shared Base 
@import 'base/utility-classes.scss'; 

// Component Items
@import 'components/buttons.scss'; 

// Section Items 
@import 'components/top-header.scss'; 
@import 'components/bottom-header.scss'; 
@import 'components/main.scss'; 