//-----------------------------------------------
// @author Alex Madsen
// @date October 30, 2018
//-----------------------------------------------

body { 
    background-color: $background-color; 
    color: $text-black;
    font-family: $font-family-sans-serif;  
}