.game-links { 
    background-color: silver; 

    a { 
        display: inline-block;
        background-color: darkgray; 
        height: 100px; 
        width: 100px;

        border-radius: 50px; 

        text-align: center; 
    }
}