
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Components 

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$bgColor: #e6ecf0; 

body { 
  background-color: $bgColor; 
}

.bg-white { 
  background-color: white;
}

.bg-0 { 
  background-color: #eee; 
}

.bg-1 { 
  background-color: #ccc; 
}

.bg-2 { 
  background-color: #aaa; 
}

.bg-3 { 
  background-color: #777; 
}

.flex { 
  display: flex; 
}

.flex-h {
  flex-direction: row;
}

.flex-v { 
  flex-direction: column; 
}

.flex-1 {
  flex-grow: 1; 
}

.full-page { 
  height: 100vh;
}

.ml-200 { 
  margin-left: 200px; 
}

.fw-bold { 
  font-weight: bold; 
}