
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Components 

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$bgColor: #e6ecf0; 
$twitterColor: #1DA1F2; 
$tweetGray: #8695A1; 
$tweetFootGray: #657786; 

body { 
  background-color: $bgColor; 
}

.bg-white { 
  background-color: white;
}

.bg-0 { 
  background-color: #eee; 
}

.bg-1 { 
  background-color: #ccc; 
}

.bg-2 { 
  background-color: #aaa; 
}

.bg-3 { 
  background-color: #777; 
}
.c-3 { 
  color: #777; 
}

.c-brand { 
  color: $twitterColor; 
}

.c-deselect { 
  color: #666; 
}

.flex { 
  display: flex; 
}

.flex-h {
  flex-direction: row;
}

.flex-v { 
  flex-direction: column; 
}

.flex-1 {
  flex: 1; 
}

.flex-2 {
  flex: 2; 
}

.flex-3 {
  flex: 3; 
}

.flex-j-center { 
  justify-content: center; 
}

.flex-a-center { 
  align-items: center; 
}

.flex-j-end { 
  justify-content: flex-end; 
}

.full-page { 
  height: 100vh;
}

.ml-200 { 
  margin-left: 200px; 
}

.p-10 { 
  padding: 10px; 
}

.fw-bold { 
  font-weight: bold; 
}

.stat { 
  padding: 14px 15px 7px; 
}

.hero img { 
  width: 100%
}

.height-50 { 
  height: 46px;
}

.height-100p { 
  height: 100%;
}

.text-center { 
  text-align: center; 
}

.label { 
  font-size: 0.8rem; 
  color: gray; 
}

.value { 
  font-weight: bold; 
  font-size: 1.1rem; 
  color: darkgray; 
}

.nav-item { 
  padding: 0 14px 0 4px;
  display: flex; 
  align-items: center; 
}

.twitter-bird { 
  color: $twitterColor;
}

i { 
  font-size: 21px; 
  margin-right: 3px;
}

.fz-4 { 
  font-size: 20px;
}

.user-image-spacer { 
  position: relative;
  width: 215px; 
}

.user-image { 
  position: absolute; 
  left: 0; 
  bottom: -100px; 
  border: 4px solid white; 
  border-radius: 100px; 
  overflow: hidden; 
}

.user-header-card { 
  margin: 35px 0 16px; 
  padding: 0 15px; 

  i { 
    font-size: 18px; 
  }
}

.suggestion-card { 
  background-color: white; 
  margin-top: 15px; 
  margin-left: 15px; 

  .suggestion-head {
    display: block; 
  }

  h3 { 
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-block; 
    margin-right: 3px; 
  }

  a { 
    font-size: 0.8rem; 
    margin-left: 3px; 
  }
}

.suggestion-item a { 
  display: flex; 
  margin-bottom: 5px; 

  color: slategrey; 

  &:hover { 
      text-decoration: none; 
  }

  img { 
    height: 48px; 
    width: 48px;
    margin-right: 10px; 
  }
}

.circular { 
  border-radius: 50%; 
}

.tweets { 
  margin: 10px; 
}

.tweet-tabs { 
  border-bottom: 1px solid #ddd; 
}

.tweet-img img { 
  height: 48px;
  width: 48px; 
}

.p-tweet { 
  padding: 9px 12px; 
}

.mr-10 { 
  margin-right: 10px; 
}

.fz-18 { 
  font-size: 18px; 
}

.fz-15  {
  font-size: 16px; 
}

.fz-16 { 
  font-size: 16px;
}

.th-name { 
  margin-right: 5px;  
  font-size: 14px; 
  font-weight: bold; 
}

.th-handle { 
  margin-right: 5px;  
  font-size: 14px; 
}

.th-date { 
  margin-left: 5px; 
}

.th-handle, .th-middot, .th-date, .th-button { 
  color: $tweetGray; 
}

.th-button { 
  margin-left: auto; 
}

.w-100p { 
  width: 100%; 
}

.tf-item { 
  margin-right: 40px; 
  color: $tweetFootGray; 
  min-width: 50px; 
}

.mt-10 { 
  margin-top: 10px; 
}

.tweet { 
  border-bottom: 1px solid #ddd; 
}

.like-count, .comment-count, .retweet-count { 
  font-weight: bold; 
  font-size: 12px; 
}