//-----------------------------------------------
// @author Alex Madsen
// @date October 30, 2018
//-----------------------------------------------

%button-shared { 
    display: inline-block; 
    border: 1px solid $brand-blue; 
    background-color: $brand-blue; 
    color: $bg-item; 
    border-radius: 4px; 
    font-weight: bold;
    padding: 3px 16px; 
    font-size: 12px;  
    font-family: $font-family-button; 
    font-weight: 700; 
    line-height: 24px; 
    letter-spacing: 0.5px; 
    text-transform: uppercase; 
}

%header-button-shared { 
    @extend %button-shared; 
    width: 120px; 

    text-align: center; 

    &:hover { 
        text-decoration: none; 
    }
}

.login-button { 
    @extend %header-button-shared; 
    background-color: $bg-item; 
    color: $brand-blue; 
}

.signin-button { 
    @extend %header-button-shared; 
    margin-left: 16px; 
    color: $bg-item; 

    &:hover { 
        color: $bg-item; 
    }
}

.cta-button { 
    @extend %button-shared; 

    margin-top: 8px; 
}

.cta-close-button { 
    border: none; 
    background: transparent; 
    color: white; 
    font-size: 12px; 

    position: absolute; 
    top: 10px; 
    right: 10px; 
}

.sr-button { 
    @extend %button-shared; 

    margin-top: 12px;
    height: 34px;
}

.rp-button { 
    @extend %button-shared; 

    width: 112px; 
    height: 28px;
    padding: 0; 

    background-color: $brand-red; 
    border-color: $brand-red; 
}

.tc-subs-button { 
    @extend %button-shared; 

    width: 100px; 
}

.new-post-button { 
    @extend %button-shared; 
    
    display: inline-block; 
    width: 100%; 
    text-align: center; 

    &:hover { 
        color: $bg-item; 
        text-decoration: none; 
    }
}