.top-header { 
    background-color: $bg-item; 

    display: flex; 
    align-items: center; 
    position: relative; 

    padding: 0 20px; 
}

.th-left { 
    display: flex; 
    align-items: center; 
}

.company { 
    display: flex; 
    align-items: center; 
    width: 117px; 
    span { 
        font-size: 20px; 
        font-family: $font-family-logo; 
    }
}

.logo {
    font-size: 32px;
    color: $brand-red; 

    padding: 8px 8px 8px 0; 
}

.th-filter { 
    height: 36px; 
    width: 270px; 

    display: flex; 
    align-items: center; 

    position: relative; 

    span { 
        display: inline-block; 
        width: 100%; 
        padding: 0 56px 0 40px; 
    }

    .trend-line { 
        position: absolute; 
        left: 10;
        font-size: 22px; 
        color: $brand-blue; 
    }

    .open-list { 
        position: absolute; 
        right: 8px; 
    }
}

.th-mid { 
    background-color: red;
    margin: 0 16px; 
    display: flex; 

    flex: 1; 
}

.search-bar { 
    color: $search-text-dark; 
    background-color: $bg-search;
    border: 1px solid $border-search;  
    border-radius: 3px; 
    height: 36px;

    padding: 0 16px 0 40px; 

    flex: 1; 

    position: relative; 

    display: flex; 
    align-items: center; 
}

.search-glass { 
    font-size: 18px; 

    position: absolute; 
    left: 16px; 
}

.bottom-header { 
    background-color: yellowgreen; 
}

