.top-header { 
    background-color: $bg-item; 

    display: flex; 
    align-items: center; 
    position: relative; 

    padding: 0 20px; 
}

.th-left { 
    display: flex; 
    align-items: center; 
}

.company { 
    display: flex; 
    align-items: center; 
    width: 117px; 
    span { 
        font-size: 20px; 
        font-family: $font-family-logo; 
    }
}

.logo {
    font-size: 32px;
    color: $brand-red; 

    padding: 8px 8px 8px 0; 
}

.th-filter { 
    height: 36px; 
    width: 270px; 

    display: flex; 
    align-items: center; 

    position: relative; 

    span { 
        display: inline-block; 
        width: 100%; 
        padding: 0 56px 0 40px; 
    }

    .trend-line { 
        position: absolute; 
        left: 10;
        font-size: 22px; 
        color: $brand-blue; 
    }

    .open-list { 
        position: absolute; 
        right: 8px; 
    }
}

.th-mid { 
    display: flex; 
    flex: 1; 
}

.search-bar { 
    margin: 0 16px; 
    color: $search-text-dark; 
    background-color: $bg-search;
    border: 1px solid $border-search;  
    border-radius: 4px; 
    height: 36px;

    padding: 0 16px 0 40px; 

    flex: 1; 

    position: relative; 

    display: flex; 
    align-items: center; 
}

.search-glass { 
    font-size: 18px; 

    position: absolute; 
    left: 16px; 
}

.search-filters { 
    display: flex; 
    align-items: center; 

    padding-right: 8px; 
    margin-right: 8px; 

    border-right: 1px solid $bg-search; 

    color: $search-icon-black; 

    i { 
        font-size: 16px; 
        padding: 8px; 
        margin-left: 8px; 
        &:first-child { 
            margin-left: 0; 
        }
    }
}

.th-right { 
    display: flex; 
    justify-content: flex-end; 
}

%button-shared { 
    border: 1px solid $brand-blue; 
    background-color: $bg-item; 
    color: $brand-blue; 
    border-radius: 4px; 
    font-weight: bold;
    padding: 3px 16px; 
    width: 120px; 
    font-size: 12px;  
    font-family: $font-family-button; 
    font-weight: 700; 
    line-height: 24px; 
    letter-spacing: 0.5px; 
}

.login-button { 
    @extend %button-shared; 
}

.signin-button { 
    @extend %button-shared; 
    background-color: $brand-blue; 
    color: $bg-item; 
    margin-left: 16px; 
}

.old-reddit-link { 
    background-color: red; 
}

.bottom-header { 
    background-color: yellowgreen; 
}

